@import "tailwindcss";

:root {
  --background: #09090B;
  --foreground: #ffffff;
  --font-sans: var(--font-inter);
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@theme{
  --color-primary: #FDBA74;
  --color-muted: #A1A1AA;
  --color-brand: #FB923C;
  --color-background: #09090B;
  --animate-marquee: marquee 40s linear infinite;
  --animate-marquee-reverse: marquee-reverse 40s linear  infinite;
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  @keyframes marquee-reverse {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear-zoom {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.appear {
  animation: appear 0.7s cubic-bezier(0.2, 0.85, 0.45, 1) forwards;
}

.appear-zoom {
  animation: appear-zoom 0.9s ease-out forwards;
}


.delay-100 {
  animation-delay: 100ms;
}

.delay-300 {
  animation-delay: 300ms;
}

.delay-500 {
  animation-delay: 500ms;
}

.delay-700 {
  animation-delay: 700ms;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}